* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 65vh 25vh 100vh;
}
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #55acee;
  /* opacity: 0.6; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
  padding: 5px 35px 5px 5px;
  margin-right: 20px;
  border-radius: 2px;
  background-color: #55acee;
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
}
.filter::placeholder {
  color: #d3d3d3;
}
.filter:focus {
  outline: none;
  color: white;
  border: 1px solid white;
}
.filter:hover {
  border: 1px solid white;
}
.filter:hover::placeholder{
  color: white;
}
.submit {
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #55acee;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
}
.submit:hover {
  color: white;
  border: 1px solid white;
  background-color: #55acee;
}
.submit:focus {
  outline: none;
}
.charts {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.charts img {
  height: 70vh;
}
.tweets {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: blue; */
  /* opacity: 0.75; */
}
.tweet-1-img,
.tweet-2-img,
.tweet-3-img,
.tweet-4-img {
  display: inline-block;
}
.tweet-1 > div,
.tweet-2 > div,
.tweet-3 > div,
.tweet-4 > div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.tweet-1,
.tweet-2,
.tweet-3,
.tweet-4 {
  margin: 5px;
  margin-bottom: 25px;
  padding: 5px;
  border: 1px solid #55acee;
  border-radius: 4px;
}
.tweet-1:hover,
.tweet-2:hover,
.tweet-3:hover,
.tweet-4:hover {
  box-shadow: 0 0 1px 1px #55acee;
}
.tweets {
  padding: 15px;
}
#profileImg {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.tweet-1-author,
.tweet-2-author,
.tweet-3-author,
.tweet-4-author {
  display: inline-block;
  font-size: 11pt;
}
.tweet-1-post,
.tweet-2-post,
.tweet-3-post,
.tweet-4-post {
  font-size: 10pt;
}
.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red;
  opacity: 0.75;
}
