* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 70vh 20vh 50vh;
}
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: black;
  opacity: 0.75;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
  padding: 2px 25px 2px 0px;
  margin-right: 10px;
  border-radius: 2px;
}
.submit {
  padding: 2px 5px;
  border-radius: 2px;
}
.submit:hover {
    color: white;
    background-color: #1da1f2;
}
.charts {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.charts img {
    height: 75vh;
}
.tweets {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: blue; */
  /* opacity: 0.75; */
}
.tweet-1-img,
.tweet-2-img,
.tweet-3-img,
.tweet-4-img {
  display: inline-block;
}
.tweet-1 > div,
.tweet-2 > div,
.tweet-3 > div,
.tweet-4 > div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.tweet-1,
.tweet-2,
.tweet-3,
.tweet-4 {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
}
.tweet-1:hover,
.tweet-2:hover,
.tweet-3:hover,
.tweet-4:hover {
  box-shadow: 0 0 1px 1px #2d3032;
}
.tweets {
  padding: 15px;
}
#profileImg {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.tweet-1-author,
.tweet-2-author,
.tweet-3-author,
.tweet-4-author {
  display: inline-block;
  font-size: 11pt;
}
.tweet-1-post,
.tweet-2-post,
.tweet-3-post,
.tweet-4-post {
  font-size: 10pt;
}
.footer {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: red;
  opacity: 0.75;
}
